.cart:active {
    background-color: #111 !important;
}

.cart:hover {
    background-color: #e9ecef !important;
}

.cursor-pointer:hover {
    cursor: pointer;
    color: rgb(218, 30, 30);
    fill: rgb(218, 30, 30);
    opacity: 100%  !important;
}

.wrapper-preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 0.5s;
    opacity: 0.8;
}

.continue-shoping:hover {
    opacity: 80% !important;
}



